/* INCIO FOOTER */
.tituloEnFooter {
	font-family: 'Noto Serif', serif;
}

.imgRRSS {
	width: 40px;
	height: 40px;
}
.footerClass {
	height: 80px;
	background-color: #EE9CCB;
	margin-top: 35px;
	display: flex;
	align-items: center;
}

.footerElemento {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@media only screen and (min-width: 0px) and (max-widht: 768px) {
	.RRSSTelegram {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 1024px) {
	.RRSSTelegram {
		margin-left: 20px;
	}
}
/* FIN FOOTER */