/* INCIO FOOTER */
.tituloEnFooter {
	font-family: 'Noto Serif', serif;
}

.imgRRSS {
	width: 40px;
	height: 40px;
}
.footerClass {
	height: 80px;
	background-color: #EE9CCB;
	margin-top: 35px;
	display: flex;
	align-items: center;
}

.footerElemento {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/* FIN FOOTER */