/*INICIO PAGES MENTORIAS*/
.mentoriasTxt {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.mentoriasTitulo {
	display: flex;
	justify-content: center;
}
.contenedorBotonInscribite {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.botonInscribite {
	font-size: 40px;
}
/*FIN PAGES MENTORIAS*/