/*MEDIA QUERIE MOBILE*/

@media only screen and (min-width: 0px) and (max-width: 768px) {
	h2 {
		font-size: 30px;
		text-align: center;
	}
	h3 {
		font-size: 25px;
		text-align: center;
	}

	h4 {
		font-size: 20px;
		text-align: center;
	}
	.tituloFeminanzas {
		font-size: 20px;
	}
	.logoFeminanzas {
		width: 50px;
		height: auto;
	}
	.imgFeminanzas {
		width: 150px;
		height: auto;
	}
	.footerElemento {
		width: 33%;
	}
	.imgRRSS {
		width: 30px;
		height: auto;
	}
	.botonDeIndex {
		font-size: 20px;
	}
	.divBotonesIndex {
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.contenedorTextoFeminanzas {
		padding-top: 30px;
	}
	.contenedorFotoQuienSoy {
		display: flex;
		justify-content: center;
	}
	.botonCursoMentoriaDos {
		margin-top: 20px;
	}
	.RRSSTelegram {
		margin-left: 10px;
	}
	.imgLogoM {
		display: flex;
		justify-content: center;
	}
	.elementoNavMentorias {
		padding-left: 10px;
	}
}
/*FIN MEDIA QUERIE MOBILE*/